
@{
    ViewBag.Title = "DLTTemplate";
    Layout = "~/Views/Shared/Adminmaster.cshtml";
}


<script>
    $(document).ready(function () {
        $('#tblsublocation').DataTable({
            dom: '<"row"<"col-md-6"B><"col-md-6"f>>rt<"row"<"col-md-6"i><"col-md-6"p>>',
            buttons: [
                {
                    extend: 'copy',
                    className: 'btn-custom'
                },
                {
                    extend: 'csv',
                    className: 'btn-custom'
                },
                {
                    extend: 'excel',
                    className: 'btn-custom'
                },
                {
                    extend: 'pdf',
                    className: 'btn-custom'
                },
                {
                    extend: 'print',
                    className: 'btn-custom'
                }
            ]
        });


    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Admin/GetDltPEID',
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                //alert(data);
                $("#peid").empty();
                $("#peid").append(data);
            }
        })
        $("#peid").change(function () {
            var peid = $("#peid").val();
            //alert(peid);
            $.ajax({
                url: '/Admin/GetDltHeader',
                type: "GET",
                dataType: "JSON",
                data: { Peid: peid },
                success: function (data) {
                    //alert(data);
                    $("#headerid").empty();
                    $("#headerid").append(data);
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#cancel").click(function () {
            $("input[type='text'],#company,#headerid,#peid,#hid,#status,.hidden").val("");
        })
    @*var alertMessage = '@ViewBag.AlertMessage';*@
    var msg = '@ViewBag.msg';

        if (msg) {
            var alertElement = '<div class="alert btncolorblue alert-dismissible fade show p-2" role="alert" id="alert">' +
                msg +
                '<button type="button" class="btn-close mt-1 pe-2" data-bs-dismiss="alert" aria-label="Close"></button>' +
                '</div>';
            $(alertElement).insertBefore('#alert-container');
            setTimeout(function () {
                $('#alert').alert('close');
            }, 5000);
            //$('.alert').on('closed.bs.alert', function () {
            //    window.location.href = '/Admin/Department';
            //});
            //$('#btnclose').on('click', function () {
            //    window.location.href = '/Admin/Department';
            //});
        }
});
</script>


<div class="row mt-1 mb-3 nevigationstrip">
    <div class="col">
        <label class="text-uppercase text-truncate trutext">Admin <i class="fa fa-angle-double-right"></i> DLT Template Details</label>
    </div>
    <div class="col text-right d-flex justify-content-end">
        <label class="text-uppercase text-truncate trutext" style="cursor:pointer" onclick="navigateBack()"> <i class="fa fa-angle-double-left"></i> Back</label>
    </div>
</div>
<div class="row mt-2 mb-2 row-cols-1 row-cols-sm-3">
    <div class="col"></div>
    <div class="col">
        <div id="alert-container"></div>
    </div>
    <div class="col text-right d-flex justify-content-end">
        <button type="button" class="btn btncolor btn-sm" data-bs-toggle="modal" data-bs-target="#DLTTemplate">
            <i class="fa fa-plus" aria-hidden="true"></i> New
        </button>
    </div>
</div>



@using System.Data;
@{ DbManager db = new DbManager();
    Activitylog activitylog = new Activitylog();
    Error_15_16 error_15_16 = new Error_15_16();}

@{
    try
    {
        string query = "select * from tbl_DLTTemplate where logid='" + Session["suid"] + "'";
        activitylog.Activitylogins("tbl_DLTTemplate", "", query, "Failed", "", Session["suid"].ToString(), Session["suname"].ToString(), Session["smail"].ToString());
        DataTable dt = db.GetAllRecord(query);
        activitylog.Activitylogupd("Success", "");
        db.connectionstate();
        int count = 1;
        if (dt.Rows.Count > 0)
        {
            <div class="row table table-responsive" id="tbl">
                <table class="table table-responsive table-bordered" id="tblsublocation">
                    <thead class="theadb text-center">
                        <tr>
                            <th class="text-center">ID</th>
                            @*<th class="text-center">PEID</th>
                            <th class="text-center">Header ID</th>*@
                            <th class="text-center">Template name</th>
                            <th class="text-center">Company Name</th>
                            @*<th class="text-center">Company Contact</th>
                            <th class="text-center">Company Mail</th>
                            <th class="text-center">Company Web Url</th>*@
                            <th class="text-center">Template Text</th>

                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @for (int i = 0; i < dt.Rows.Count; i++)
                        {

                            <tr>
                                <td>@(count + i)<input type="hidden" id="@dt.Rows[i]["id"]" value="@dt.Rows[i]["id"]" /></td>
                                @*<td>@dt.Rows[i]["PEID"]</td>
                                <td>@dt.Rows[i]["Header_id"]</td>*@
                                <td>@dt.Rows[i]["Template_name"]</td>
                                <td>@dt.Rows[i]["Companyname"]</td>
                                @*<td>@dt.Rows[i]["Companymobile"]</td>
                                <td>@dt.Rows[i]["Companymail"]</td>
                                <td>@dt.Rows[i]["Companyurl"]</td>*@
                                <td style="text-align:justify">@dt.Rows[i]["Template_text"].ToString().Replace("+temp-text+", "'")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class='row justify-content-center d-flex m-5' id='datanotdound'>
                <img src='~/Content/Img/nodata1.png' style="height:50%;width:50%" />
            </div>
        }
    }
    catch (Exception ex)
    {
        try
        {
            string pageUrl = "", moduleName = "", errorLine = "", errorMessage = "", errorName = "", errorTrace = "";
            // Get the page URL, if available
            pageUrl = System.Web.HttpContext.Current.Request.Url.AbsoluteUri;
            // Get the module name
            moduleName = ex.TargetSite.Module.Name;
            // Get the error line number, if available
            var stackTrace = ex.StackTrace;
            if (!string.IsNullOrEmpty(stackTrace))
            {
                var lineNumberIndex = stackTrace.LastIndexOf(":line ");
                if (lineNumberIndex >= 0)
                {
                    var lineNumber = stackTrace.Substring(lineNumberIndex + 6);
                    var newLineIndex = lineNumber.IndexOf(Environment.NewLine);
                    if (newLineIndex >= 0)
                    {
                        errorLine = lineNumber.Substring(0, newLineIndex);
                    }
                    else
                    {
                        errorLine = lineNumber;
                    }
                }
            }
            // Get the error message and name
            if (ex.Message.ToString().Length >= 1000)
            {
                errorMessage = ex.Message.Substring(1, 500);
            }
            else
            {
                errorMessage = ex.Message;
            }
            errorName = ex.GetType().FullName;
            // Get the error trace
            errorTrace = ex.StackTrace;
            error_15_16.Error_15_16ins(pageUrl, moduleName, errorLine, errorMessage.Replace("'", "`"), errorName.Replace("'", "`"), errorTrace.Replace("'", "`"), Session["suid"].ToString(), Session["suname"].ToString(), Session["smail"].ToString());
        }

        catch
        {

        }
        ViewBag.msg = "Error";
    }
    finally
    {
        db.connectionstate();
    }

}


<!-- Modal DLTTemplate-->
<div class="modal fade" id="DLTTemplate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/Admin/DLTTemplate" method="post" class="needs-validation" novalidate>
                
                <div class="modal-header justify-content-center nevigationstrip">
                    <h5 class="modal-title text-uppercase" id="staticBackdropLabel">DLT Template Info</h5>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-sm-2">
                        <div class="col mb-2">
                            <input type="hidden" id="hid" name="hid" />
                            
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-sm-2">
                        <div class="col mb-2">
                            <h6 class="mt-2">Select PEID</h6>
                            <select class="form-select shadow-none" id="peid" name="peid" required>
                                <option selected disabled value="">Select one</option>

                            </select>
                            <div class="invalid-feedback">
                                Please select a valid option.
                            </div>
                        </div>
                        <div class="col mb-2">
                            <h6 class="mt-2">Select Header ID</h6>
                            <select class="form-select shadow-none" id="headerid" name="headerid" required>
                                <option selected disabled value="">Select one</option>

                            </select>
                            <div class="invalid-feedback">
                                Please select a valid option.
                            </div>

                        </div>
                        <div class="col mb-2">
                            <h6 class="mt-2"> Template ID</h6>
                            <input type="text" class="form-control shadow-none" id="tempid" name="tempid" required onkeyup="validateTextbox(this)" pattern="^[A-Z0-9]*$" maxlength="20" title="Please enter only letters, and spaces" placeholder="Enter template ID" />
                            <div class="invalid-feedback">
                                Please enter only letters, and numbers
                            </div>
                        </div>
                        <div class="col mb-2">
                            <h6 class="mt-2"> Template Name</h6>
                            <select class="form-select shadow-none" id="tempname" name="tempname" required>
                                <option selected disabled value="">Select one</option>
                                <option>Festival</option>
                                <option>Thank You Message for Purchase</option>
                                <option>Booking Message</option>
                                <option>Product Delivery Message</option>
                                <option>Plant Installation Message</option>
                                <option>Plant Counting Message</option>
                                <option>Plant Replacement Information Message</option>
                                <option>Preparation Message</option>
                                <option>Plant Replacement Successfully Done</option>
                                <option>Thank You Message for Joining</option>
                                <option>OTP For Login</option>
                                <option>OTP For Order Process</option>

                            </select>
                            @*<input type="text" class="form-control shadow-none" id="tempname" name="tempname" required onkeyup="validateTextbox(this)" pattern="^[a-zA-Z0-9 ]*$" maxlength="50" placeholder="Enter template name" title="Please enter only letters, and spaces" />*@
                            <div class="invalid-feedback">
                                Please enter only letters, and numbers
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col mb-2">
                            <h6> Template Text</h6>
                            <textarea class="form-control shadow-none border-dark-subtle" id="temptext" name="temptext" onkeyup="validateTextbox1(this)" placeholder="Template Text" maxlength="500" required rows="5"></textarea>
                            <div class="invalid-feedback">
                                Please enter a Template Text.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btncolorblue" data-bs-dismiss="modal" id="cancel"><i class="fa fa-times"></i></button>
                    <button type="submit" class="btn btncolor"><i class="fa fa-check"></i></button>

                </div>
            </form>
        </div>
    </div>
</div>



