
@{
    ViewBag.Title = "EDaySummary";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


@using System.Data;
@{ DbManager db = new DbManager();}

<script>
    $(document).ready(function () {
        var year = $("#year");

        //Determine the Current Year.
        var currentYear = (new Date()).getFullYear();

        //Loop and add the Year values to DropDownList.
        for (var i = 2023; i <= currentYear; i++) {
            var option = $("<option />");
            option.html(i);
            option.val(i);
            year.append(option);
        }
    })
</script>
<script>
    $(document).ready(function () {
        $('#tblattendance').DataTable({
            dom: '<"row"<"col-md-6"B><"col-md-6"f>>rt<"row"<"col-md-6"i><"col-md-6"p>>',
            buttons: [
                {
                    extend: 'copy',
                    className: 'btn-custom'
                },
                {
                    extend: 'csv',
                    className: 'btn-custom'
                },
                {
                    extend: 'excel',
                    className: 'btn-custom'
                },
                {
                    extend: 'pdf',
                    className: 'btn-custom'
                },
                {
                    extend: 'print',
                    className: 'btn-custom'
                }
            ]
        });


    });
</script>

<script>
    $(document).ready(function () {
        /*var table = $('#tblattendance').DataTable();*/
        var currentDate = new Date();
        //alert(currentDate)
        var currentMonth = currentDate.getMonth();
        var currentYear = currentDate.getFullYear();
        $("#month").val(currentMonth + 1);
        $("#year").val(currentYear);
        var month = $("#month").val();
        var year = $("#year").val();
        var empid = $("#empid").val();
        var desig = $("#desig").val();
        var depart = $("#depart").val();
        var managernm = $("#managernm").val();
        $.ajax({
            url: "/Admin/GetDaysummary1",
            type: "Get",
            data: { Month: month, Year: year, Depart: depart, Desig: desig, Empid: empid, Managernm: managernm },
            success: function (response) {
                //alert(response);
                //var jsonArray = JSON.parse(response);
                //table.clear().draw();
                $("#tblattendance").empty();
                $("#tblattendance").append(response);

            }
        })
        $("#search").click(function () {
            /*var table = $('#tblattendance').DataTable();*/
            var month = $("#month").val();
            var year = $("#year").val();
            var empid = $("#empid").val();
            var desig = $("#desig").val();
            var depart = $("#depart").val();
            var managernm = $("#managernm").val();
            $.ajax({
                url: "/Admin/GetDaysummary",
                type: "Get",
                data: { Month: month, Year: year, Depart: depart, Desig: desig, Empid: empid, Managernm: managernm },
                success: function (response) {
                    //alert(response);
                    //var jsonArray = JSON.parse(response);
                    //table.clear().draw();
                    $("#tblattendance").empty();
                    $("#tblattendance").append(response);

                }
            })

        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#month').select2({
        });
        $('#year').select2({
        });
        $('#employee').select2({
        });
        $('#department').select2({
        });
        $('#designation').select2({
        });
        $('#manager').select2({
        });


        function hideOpclBtn1() {
            $('#month').select2({
            });
            $('#year').select2({
            });
            $('#employee').select2({
            });
            $('#department').select2({
            });
            $('#designation').select2({
            });
            $('#manager').select2({
            });
        }


        // Handle window resize events
        $(window).resize(function () {
            hideOpclBtn1();
        });
    });

</script>

<script>
    $(document).ready(function () {
        $("#employee").change(function () {
            const selectemp = document.querySelector('#employee');
            const selectedemp = [];

            for (let i = 0; i < selectemp.options.length; i++) {
                const option = selectemp.options[i];
                if (option.selected) {
                    selectedemp.push(option.value);
                }
            }
            $("#empid").val(selectedemp);
        })
        $("#designation").change(function () {
            const selectdesig = document.querySelector('#designation');
            const selecteddesig = [];

            for (let i = 0; i < selectdesig.options.length; i++) {
                const option = selectdesig.options[i];
                if (option.selected) {
                    selecteddesig.push(option.value);
                }
            }
            $("#desig").val(selecteddesig);
        })
        $("#department").change(function () {
            const selectdepart = document.querySelector('#department');
            const selecteddepart = [];

            for (let i = 0; i < selectdepart.options.length; i++) {
                const option = selectdepart.options[i];
                if (option.selected) {
                    selecteddepart.push(option.value);
                }
            }
            $("#depart").val(selecteddepart);
        })
        //$("#location").change(function () {
        //    const selectlocation = document.querySelector('#location');
        //    const selectedlocation = [];

        //    for (let i = 0; i < selectlocation.options.length; i++) {
        //        const option = selectlocation.options[i];
        //        if (option.selected) {
        //            selectedlocation.push(option.value);
        //        }
        //    }
        //    $("#locat").val(selectedlocation);
        //})
        $("#manager").change(function () {
            const selectteam = document.querySelector('#manager');
            const selectedteam = [];

            for (let i = 0; i < selectteam.options.length; i++) {
                const option = selectteam.options[i];
                if (option.selected) {
                    selectedteam.push(option.value);
                }
            }
            $("#managernm").val(selectedteam);
        })
    })
</script>
<script>
    function ExportToExcel(type, fn, dl) {
        const now = new Date();
        var elt = document.getElementById('tblattendance');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('@Session["auname"] Day summary' + now+'.' + (type || 'xlsx')));
    }
</script>
<script>
    $(document).ready(function () {
        $("#department").change(function () {
            const department = $("#department").val();
            $.ajax({
                url: "/Admin/GetDesignation",
                type: "GET",
                dataType: "JSON",
                data: { Depart: department },
                success: function (data) {
                    //alert(data);
                    $("#designation").empty();
                    $("#designation").append(data);

                    $("#desig").val("");
                    $("#empid").val("");
                }
            })
        })
        $("#designation,#department").change(function () {
            const department = $("#department").val();
            const designation = $("#designation").val();
            $.ajax({
                url: "/Admin/GetEmployeerep",
                type: "GET",
                dataType: "JSON",
                data: { Desig: designation, Depart: department },
                success: function (data) {
                    //alert(data);
                    $("#employee").empty();
                    $("#employee").append(data);

                    $("#empid").val("");
                }
            })
        })
    })
</script>

<div class="row mt-1 mb-3 nevigationstrip">
    <div class="col">
        <label class="text-uppercase text-truncate trutext">HR <i class="fa fa-angle-double-right"></i> Day summary </label>
    </div>
    <div class="col text-right d-flex justify-content-end">
        <label class="text-uppercase text-truncate trutext" style="cursor:pointer" onclick="navigateBack()"> <i class="fa fa-angle-double-left"></i> Back</label>
    </div>
</div>

<div class="row mt-3 mb-3">

    <div class="col mb-1">
        <label for="exampleDataList" class="form-label">Month</label><br />
        <select class="form-select shadow-none mt-1" id="month" name="month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <input type="hidden" id="empid" name="empid" />
        <input type="hidden" id="desig" name="desig" />
        <input type="hidden" id="depart" name="depart" />
        <input type="hidden" id="managernm" name="managernm" />
    </div>
    <div class="col mb-1">
        <label for="exampleDataList" class="form-label">Year</label><br />
        <select class="form-select shadow-none mt-1" id="year" name="year">
        </select>

    </div>
    <div class="col mb-1" style="display:none">
        <label>Manager</label>
        <select multiple class="form-select shadow-none mt-1" id="manager" name="manager">
            @{
                string query4 = "select DISTINCT Managercode,Managername from tbl_registration where Status='Approved'";
                DataTable dt4 = db.GetAllRecord(query4);
                if (dt4.Rows.Count > 0)
                {
                    for (int i = 0; i < dt4.Rows.Count; i++)
                    {
                        <option value="@dt4.Rows[i]["Managercode"]">@dt4.Rows[i]["Managername"]</option>
                    }

                }
            }

        </select>
        <div class="invalid-feedback">
            Please select a valid User type
        </div>
    </div>
    <div class="col mb-1">
        <label>Department</label>
        <select class="form-select shadow-none mt-1" id="department" name="department">
            <option selected value=''>Select one</option>
            @{
                string query1 = "select * from tbl_department";
                DataTable dt1 = db.GetAllRecord(query1);
                if (dt1.Rows.Count > 0)
                {
                    for (int i = 0; i < dt1.Rows.Count; i++)
                    {
                        if (@dt1.Rows[i]["Status"] + "" == "Active")
                        {
                            <option>@dt1.Rows[i]["Departmant"]</option>
                        }
                    }

                }

            }

        </select>
    </div>


    <div class="col mb-1">
        <label>Designation</label>
        <select class="form-select shadow-none mt-1" id="designation" name="designation">
            <option selected value=''>Select one</option>
            @{
                string query3 = "select * from tbl_designation";
                DataTable dt3 = db.GetAllRecord(query3);
                if (dt3.Rows.Count > 0)
                {
                    for (int i = 0; i < dt3.Rows.Count; i++)
                    {
                        if (@dt3.Rows[i]["Status"] + "" == "Active")
                        {
                            <option>@dt3.Rows[i]["Designation"]</option>
                        }
                    }


                }
            }
        </select>
        <div class="invalid-feedback">
            Please select a valid User type
        </div>
    </div>
    <div class="col mb-1">
        <label>Employee Name</label>
        <select multiple class="form-select shadow-none mt-1" id="employee" name="employee">
            @{
                string query5 = "select * from tbl_registration";
                DataTable dt5 = db.GetAllRecord(query5);
                if (dt5.Rows.Count > 0)
                {
                    for (int i = 0; i < dt5.Rows.Count; i++)
                    {
                        if (@dt5.Rows[i]["Status"] + "" == "Approved")
                        {
                            <option value="@dt5.Rows[i]["Employee_id"]">@dt5.Rows[i]["Name"] (@dt5.Rows[i]["Employee_id"])</option>
                        }
                    }

                }

            }

        </select>
    </div>
    <div class="col mb-1">
        <button class="btn btncolor mt-2" id="search">Search</button>
    </div>
</div>
<div class="row mt-2 mb-3 row-cols-1 row-cols-sm-3">
    <div class="col"></div>
    <div class="col">
        <div id="alert-container"></div>
    </div>
    <div class="col text-right d-flex justify-content-end">
        <a href="">
            <button class="btn btncolor btn-sm ms-2" onclick="ExportToExcel('xlsx')">Export to excel</button>
        </a>

    </div>

</div>


<div class="table table-responsive">

    <table class="display nowrap table table-responsive" id="tblattendance">
    </table>

</div>




